<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="https://basestream-production.up.railway.app"
        version="1.0.0"
        viewmodes="fullscreen">

    <tizen:application id="BaseStrm.tv"
                       package="BaseStrm"
                       required_version="2.3"/>

    <content src="index.html"/>

    <icon src="icon.png"/>

    <name>BaseStream TV</name>

    <description>Plataforma IPTV BaseStream para Smart TVs Samsung</description>

    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://tizen.org/privilege/fullscreen"/>

    <tizen:profile name="tv"/>

    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>

    <tizen:setting screen-orientation="landscape"
                   context-menu="disable"
                   background-support="disable"
                   encryption="disable"
                   install-location="auto"
                   hw-key-event="enable"/>
</widget>
